<h2>A Website on the Internetz</h2>
<body>
	<img src="images/brownjacket.jpg"></img>
	<br>
	<%= @message %>
	<br>
	<br>
	This site is written in Ruby on Rails, a framework so gangster, Tony 'Scarface' Montana would use it. Assuming, of course, he decided to leave behind a rather lucrative career in cocaine distribution. And wasn't dead. Or fictional.
	<br>
	<br>
	Hosted by the pimps at <a href="http://www.engineyard.com">Engine Yard</a> 
</body>